<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srt.kg.mapper.InvestorMapper">
    <select id="findAll" resultType="com.srt.kg.entity.Investor">
        SELECT * FROM investor
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM investor
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.srt.kg.entity.Investor">
        SELECT * FROM investor WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.srt.kg.entity.Investor" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO investor(name, type, aum, focus_industry, description)
        VALUES(#{name}, #{type}, #{aum}, #{focusIndustry}, #{description})
    </insert>
</mapper>
